<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
    <div class="container" style="padding-bottom: 3rem ">
        <div class="row justify-content-left">
            <button class="btn btn-primary" type="button">Back</button>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="display-3">Your search results for <b> {{location}}</b></h2>
        </div>
    </div>
    <br/>
    <div class="container" style="padding-bottom: 2rem">
        <div class="row justify-content-center" style="padding-bottom: 1rem">
            <h4>Demographics</h4>
        </div>
        <div class="row justify-content-center">
            <h6>Average Rating of Consumers <b>2.3</b>&nbsp;</h6> <h6>Paying Ability of Consumers<b> 1000 for Two</b></h6>
        </div>
        <hr/>
        <div class="row justify-content-center">
            <h6>Foodie Index <b>2.3</b>&nbsp;</h6> <h6>Night Life Index<b> 2.3</b></h6>
        </div>
        <hr/>
        <div class="row justify-content-center">
            <h4>Top Cuisines</h4>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row row-grid">
                    <div class="col-lg-3">
                        <h6>Sri Lankan</h6>
                    </div>
                    <div class="col-lg-2">
                        <h6>Fast food</h6>
                    </div>
                    <div class="col-lg-2">
                        <h6>Bakery</h6>
                    </div>
                    <div class="col-lg-2">
                        <h6>Finger food</h6>
                    </div>
                    <div class="col-lg-3">
                        <h6>Chinese</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container" style="padding-bottom: 3rem ">
        <div class="row justify-content-center">
            <button class="btn btn-primary" type="button" (click)="openBudget()">Places matching the Budget</button>
            <button class="btn btn-primary" type="button" (click)="openCompetitor()">Competitor Analyzer</button>
            <button class="btn btn-primary" type="button" (click)="openMail()">Mail a copy</button>
        </div>
    </div>
</main>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Type your modal title</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>
