<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-100">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <div class="mx-2 my-auto d-inline">
                <div class="container">
                    <div class="input-group">
                        <select  id="zone" [(ngModel)]="selectedOption" class="custom-select mb-3" (ngModelChange)="optionChanged()">
                        </select>
                        <span style="padding-left: 1rem">
                           <button class="btn btn-secondary btn-md" type="button" [routerLink]="['/step-one',selectedOption]">Start Building Your Profile</button>
                        </span>
                    </div>
                </div>
                <div class="mx-2 my-auto">
                    <agm-map [zoom]="12"[latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </section>
    </div>
</main>

