<!--<main>-->
<!--    <div class="position-relative">-->
<!--        <div>-->
<!--            <div class="container" style="margin-top: 5px" align="center">-->
<!--                <form class="form-inline">-->
<!--                    <i class="fa fa-search"></i>-->
<!--                    <input class="form-control form-control-md" type="text" placeholder="Search" aria-label="Search">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <agm-map [latitude]="lat" [longitude]="lng">-->
<!--                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--            </agm-map>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-100">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <div class="mx-2 my-auto d-inline">
<!--                <div class="dropdown">-->
<!--                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Select the Colombo Zone-->
<!--                    </button>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="input-group">-->
<!--                    <input id="searchValue" class="form-control border border-right-0" placeholder="Search">-->
<!--                    <span class="input-group-append">-->
<!--                      <button class="btn btn-outline-primary border border-left-0" type="button">-->
<!--                          <i class="fa fa-search"></i>-->
<!--                      </button>-->
<!--                    </span>-->
<!--                </div>-->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select the Colombo Zone
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="mx-2 my-auto">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
</main>

